/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color;
    min-height: 56px;
    height: auto;
    padding-top: $spacing-unit;

    // Positioning context for the mobile navigation icon
    position: relative;

    .wrapper {
        background-color: rgba(255,255,255,0.7);

    }

    .site-title:hover {
        text-decoration: none;
        color: $grey-color;


    }
    
}

.site-title {
    font-size: $site-title-font-size;
    font-weight: 300;
    line-height: 2;
    display: inline-block;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}




.site-nav {
    position: relative;
    // float: left;
    // margin-top: auto;
    display: inline;
    line-height: $base-line-height;
    
    .menu-icon {
        display: none;
    }

    .page-link {
        margin-left: 50px;
        font-size: 20px;
        color: $text-color;
        display: inline;

        border-bottom: 4px solid rgba(0,0,0,0);
        padding: 20px 0;

        &.current {
            text-decoration: none;
            border-bottom: 4px solid $grey-color;
            padding: 6px 0; 
            color: $grey-color;
        }


        &:hover {
            transition: 0.3s ease;
            text-decoration: none;
            border-bottom: 4px solid $grey-color;
            padding: 6px 0; 
            color: $grey-color;
        }
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            // margin-right: 20px;
        }
    }

}


.home {
    
}


/**
 * Site footer
 */
.site-footer {
    // border-top: 1px solid $grey-color-light;
    padding-bottom: $spacing-unit;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 30px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 26px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        &.with-description {
            margin-bottom: 0;
        }

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h5 {
        font-size: 16px;
        text-indent: 25px;

        @include media-query($on-laptop) {
            font-size: 14px;
        }
    }
}


img {
    padding: 0px 30px 30px 0px;
}
